body {
	background-image: url(./image/background_image.png);
	background-repeat: no-repeat;
	margin: 0;
	padding: 0;
}

.section {
	color: #FFF;
	width: 86%;
	margin: 129px auto 0 auto;
}

.section-game {
	display: none;
}

.section_title {
	font: bold 57px/67px Roboto, sans-serif;
	margin-bottom: 9px;
}

.section__description {
	margin: 0 0 56px 0;
	font: normal 19px/22px Roboto, sans-serif;
}

.section__level {
	font: bold 50px/59px Roboto, sans-serif;
}

.section__level-level {
	margin: 0 0 2% 4%;
	color: ;
	cursor: pointer;
	position: ;
}

.section__level-level:last-child {
	margin-bottom: 116px;
}

.section__level-level:hover {
	content: '';
	color: #d62b2e;
}

.rhomb:after {
	width: 18px;
	height: 18px;
	content: '';
	background: #d62b2e;
	position: absolute;
	top: ;
	left: 35px;
	transform: rotate(45deg);
}

.section__start-game {
	color: #FFF;
	background: #D62B2E;
	padding: 28px 85px;
	border-radius: 7px;
	text-decoration: none;
	display: inline-block;
	font: bold 32px/37px Roboto, sans-serif;
}

.section__kard {
	left: 63.5%;
	bottom: 188px;
	position: relative;
	width: 500px;
}

.section-kard__one {
	transform: rotate(12deg);
}

.section-kard__two {
	transform: rotate(39deg);
	z-index: 5;
	top: 20px;
	right: 46px;
	position: relative;
}